{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
    {% if page_obj %}
        <div class="row mb-2">
            {% for post in page_obj %}
                <div class="col-md-6">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-success">{{ post.author.username }}</strong>
                            <h3 class="mb-0">{{ post.title|title }}</h3>
                            <div class="mb-1 text-muted">{{ post.created_date }}</div>
                            <p class="mb-auto">{{ post.text|truncatewords:20 }}</p>
                            <a href="{% url 'post_single' pk=post.pk %}" class="stretched-link">Continue reading</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% bootstrap_pagination page_obj %}
    {% endif %}

    {% if form %}
        <div class="subscribe-form-container">
            <h3>Subscribe to new posts</h3>
            <form method="POST" class="post-form subscribe-form" action="/">
                {% csrf_token %}
                <div class="form-group">
                    <label for="inputEmail">Email address</label>
                    {{ form.email }}
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                 <button type="submit" class="btn btn-primary">Subscribe</button>
            </form>
            {% if send_status == 'success' %}
                <div class="alert alert-success" role="alert">
                    Email sent success.
                </div>
            {% elif send_status == 'already-exist' %}
                <div class="alert alert-warning" role="alert">
                    The email already exists.
                </div>
            {% elif send_status == 'fail' %}
                <div class="alert alert-danger" role="alert">
                    No email has been sent. An error has occurred.
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}