.post_main {
    margin: 80px 0;
}

.post_meta {
    margin-bottom: 15px;
}

.post_meta span {
    color: #6c757d;
    font-style: italic;
}

.subscribe-form-container {
    margin: 50px 0;
}

.subscribe-form {
    margin-bottom: 20px;
}

.blog-footer {
    padding: 2.5rem 0;
    color: #727272;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
    margin-bottom: 0;
}